{
  "extends": "airbnb",
  "globals": {
    "describe": true,
    "it": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "new-cap": ["error", {"capIsNewExceptions": ["Map", "List"]}]
  }
}
